@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Lexend+Tera&display=swap');

nav, #welcome {
    font-size: 1.5em;
}

nav, .submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 
.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro {
    text-align: center;
    padding-top: 75px;
}

#gif-description {
    text-align: left;
}

h1, nav {
    font-family: 'Lexend Tera', sans-serif;
}


.submenu, section, footer {
    font-family: 'Lexend Deca', sans-serif;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    color: grey
}

a:active {
    color: white;
    background-color: grey;
}

img {
    margin: 10px 0px 10px 0px;
}

.logo-white {
    background-color: #16161D
}

 #mockup-intro {
     text-align: left;
 }

footer {
    text-align: center;
    left: 0;
	right: 0; 
    bottom: 0;
    margin: 10px;
}

#lely-original, #lely-edited, #grave-original, #histories-original, #histories-edited {
    height: 50%;
    width: 50%;
}

#black-background {
    background-color: black;
}